<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ca133b7-2442-4b17-9e86-2572809d1df8" Alias="Aj-Carter" Level="2">
  <Info>
    <Parent Key="b6759180-c6f4-4d18-ab13-c6e972f354fa">Team members</Parent>
    <Path>/TeamMembers/AjCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:47:45</CreateDate>
    <NodeName Default="Aj-Carter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hd2ppcrl/aj-carter.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>