<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f71f2a1-a006-4936-919c-48e0d85fbbe2" Alias="Brandon-Kerr" Level="2">
  <Info>
    <Parent Key="b6759180-c6f4-4d18-ab13-c6e972f354fa">Team members</Parent>
    <Path>/TeamMembers/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:48:00</CreateDate>
    <NodeName Default="Brandon-Kerr" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fy2doklp/brandon-kerr.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>