<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4cf7733-1a80-4749-9991-ef4bcc7b65b8" Alias="Brandon-Newton" Level="2">
  <Info>
    <Parent Key="b6759180-c6f4-4d18-ab13-c6e972f354fa">Team members</Parent>
    <Path>/TeamMembers/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:48:14</CreateDate>
    <NodeName Default="Brandon-Newton" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xs4jsuxj/brandon-newton.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>