<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a62fc67-1dc6-41f7-8a59-1dde33c68665" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T10:39:09</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>