<?xml version="1.0" encoding="utf-8"?>
<Media Key="eae1ab0e-b464-4a3e-89a8-f9ec0b722083" Alias="Heroimg" Level="2">
  <Info>
    <Parent Key="6a62fc67-1dc6-41f7-8a59-1dde33c68665">Hero Slider</Parent>
    <Path>/HeroSlider/Heroimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:46:41</CreateDate>
    <NodeName Default="Heroimg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qfqloxan/heroimg.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>