<?xml version="1.0" encoding="utf-8"?>
<Media Key="c993bc12-f650-4ab1-8ba6-32bf48634ae2" Alias="Miranda-Dayton" Level="2">
  <Info>
    <Parent Key="b6759180-c6f4-4d18-ab13-c6e972f354fa">Team members</Parent>
    <Path>/TeamMembers/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:48:46</CreateDate>
    <NodeName Default="Miranda-Dayton" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tv1nk5zz/miranda-dayton.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>