<?xml version="1.0" encoding="utf-8"?>
<Media Key="744663e1-3012-4ffb-9371-d9254a7e4389" Alias="Signatur-Tina" Level="2">
  <Info>
    <Parent Key="059da215-7af3-4481-ae5c-8c9dd6247a82">Miscellaneous</Parent>
    <Path>/Miscellaneous/SignaturTina</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:49:49</CreateDate>
    <NodeName Default="Signatur-Tina" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n0ubbqt1/signatur.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>