<?xml version="1.0" encoding="utf-8"?>
<Media Key="3515aad6-763a-4105-84bb-f2fe5ad43c47" Alias="Tina-Fox" Level="2">
  <Info>
    <Parent Key="b6759180-c6f4-4d18-ab13-c6e972f354fa">Team members</Parent>
    <Path>/TeamMembers/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-01T10:48:59</CreateDate>
    <NodeName Default="Tina-Fox" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lfqfha0t/tina-fox.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>